#sidebar { 
    font-size:0.75em; 
    width:150px; 
}

#sidebar ul { 
    margin:0;
    padding:0; 

    background:#666;
}

#sidebar li { 
    list-style: none; 
    border-bottom: #fff solid;
    border-top: #fff solid;
    border-width: 1px;
}

#sidebar a {
    color: #fff;
    cursor: pointer;
    display:block;
    height:25px;
    line-height: 25px;
    text-indent: 10px;                   
    text-decoration:none;
    width:100%;
}
 
#sidebar a:hover {
    text-decoration:underline;
}

#sidebar li:hover {
    background: #f90;
    position: relative;
}
