/*
   Illini Blue:   #1C3764
   Illini Orange: #D2531C

*/

.header {
    text-align:center;
    color: white;
    background: black;
}

body {
    /*background: green;*/
}

#content {
    color: #1C3764; /* font color is Illini Blue */
    margin-left: 14.5em; /* margin is width of sidebar + padding */
    padding: 1em;
    border-color:#D2531C; /* Illini Orange */
    border-style:solid;
}

#sidebar { 
    color: white;
    float: left; 

    width: 14em;
    background:#1C3764; /* Illini Blue */
}

#sidebar img {
    max-width:100%; 
    max-height:100%;
    width:100%;
    margin:auto;
    display:block;
}

#sidebar ul { 
    margin:0;
    padding:0; 

    background:#1C3764; /* Illini Blue */
}

#sidebar li { 
    list-style: none; 
    border-bottom: white solid;
    border-top: white solid;
    border-width: 1pt;
}

#sidebar a {
    color: white;
    cursor: pointer;
    display:block;
    line-height: 2em;
    text-indent: 0.75em;                   
    text-decoration:none;
    width:100%;
}

#sidebar a:hover {
    text-decoration:underline;
}

#sidebar li:hover {
    background: #D2531C; /* Illini Orange: #D2531C */
    position: relative;
}

/* Formating for mailing list input field */
.input {
    width: 8em;
}

/* Formating for mailing list Go button */
.button {
    width: 2.5em;
}

.mailing_list_form {
    border: 1pt solid #D2531C; /* Illini Orange */
}

/* Using this to put a caption below the image of the blessed mother */
caption
{
    caption-side:bottom;
}
