

#navigation { 
    font-size:0.75em; 
    width:150px; 
}

#navigation ul { 
    margin:0;
    padding:0; 

    background:#666;
}

#navigation li { 
    list-style: none; 
    border-bottom: #fff solid;
    border-top: #fff solid;
    border-width: 1px;
}

#navigation a {
    color: #fff;
    cursor: pointer;
    display:block;
    height:25px;
    line-height: 25px;
    text-indent: 10px;                   
    text-decoration:none;
    width:100%;
}
 
#navigation a:hover {
    text-decoration:underline;
}

#navigation li:hover {
    background: #f90;
    position: relative;
}
